<html xmlns:th="http://www.thymelef.org">
<head></head>
<body>
<div  th:fragment="imports">
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"
            th:src="@{/webjars/materializecss/0.98.0/js/materialize.js}"></script>

    <script src="../static/js/setup.js"
            th:src="@{/js/setup.js}"></script>

    <script src="resources/js/login.bundle.js"></script>

</div>
</body>
</html>